{% extends "base.html" %}

{% block customcss %}
{% endblock customcss %}

{% block content %}
  <h1>顔認識</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">変換</button>
  </form>
  {% if faceread_obj.image.url %}
    <td><img src="{{ faceread_obj.image.url }}" width=700 height=auto /></td>
  {% endif %}
  {% if faceread_obj.faceread_image.url %}
    <td><img src="{{ faceread_obj.faceread_image.url }}" width=700 height=auto /></td>
  {% endif %}
{% endblock content %}

